@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

:root {
  --onbackground-color: #fff;
  --onforeground-color: #000;

  --primary-foreground-color: #dcdefd;
  --primary-background-color: #6a6ef7;

  --border-radius: 40px;
}

:root {
  font-family: Work Sans, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  border: none;
  cursor: pointer;
}
